/** @format */
*{
    margin: 0;padding: 0;
}
.cardArea {
  width: 270px;
  flex-shrink: 0;
  border-radius: 19.447px;
  display: flex;
  padding: 20px 20px;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  border: 0.659px solid #ff4343;
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(13.184196472167969px);
  box-shadow: inset 4px 4px 296px -3px rgba(189, 187, 189, 0.234);
}
.cardAreaPic {
  width: 110px;
  height: 110px;
  flex-shrink: 0;
  border-radius: 133px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.cardAreaContent {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.cardAreaContentHeading {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.cardAreaContentDescription {
  color: #fff;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ItemCost {
  display: flex;
  padding: 4px 6px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: #ff4343;
  padding: 4px 14px;
  border: red;
  width: 100%;
  color: #fff;

}
.ItemCost:hover{
  background-color: rgb(36, 76, 51);
}

@media screen and (max-width: 360px) {
    .cardArea{
      width: 270px;
      gap: 10px;
      align-items: center;
    }
    .cardAreaPic, .cardAreaPic img{
      width: 90px;
      height: 90px;
    }
}