.selectedFoodArea{
   display: flex;
   flex-direction: column;  
   padding: 20px;
    justify-content: center;
    height: 70vh;
    margin: 0 20px;

}

.headingArea{
    display: flex;
    justify-content: space-between;
}
.heading{
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    color: aliceblue;
}
.description{
    color: aliceblue;
    padding: 10px;
    font-size: 18px;
}
.btn{
    background-color: rgb(230, 57, 57);
    padding: 5px 20px;
    width: fit-content;
    color: rgb(252, 252, 252);
    font-weight: 700;
    height: fit-content;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
}
.quantityArea{
    padding: 5px 10px;
    display: flex;
    align-items: center; 
    gap: 12px;
    justify-content: center;
}
.quantity{
    width: fit-content;
    background-color: rgb(230, 57, 57);
    padding: 0px 10px;
    font-weight: 700;
    color: #fcfcfc;
    border-radius: 5px;
    margin-right: 12px;
    height: 40px;
    display: flex;
    align-items: center;
}
.quantitybtn{
    background-color: aliceblue;
    border-color: transparent;
    width: 40px;
    height: 40px;
    color: rgb(230, 57, 57);
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

}
.buybtn{
    background-color: aliceblue;
    border-color: transparent;
    height: 40px;
    color: rgb(230, 57, 57);
    font-weight: 900;
    display: flex;
    padding: 5px 20px;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
    margin-left: -10px;
    cursor: pointer;
    margin-right: 10px;
}
.row{
    display: flex;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
}
.lastrow{
    display: flex;
    margin: 10px;
    justify-content: flex-end;
    align-items: center;
}